<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="/static/style.css">
<head>
    <title>Spring Security Example </title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.roles}"></td>
            <td><a th:href="'/user/' + ${user.id}">edit</a> </td>
        </tr>
        </tbody>
    </table>
</body>
</html>

